body {
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    overflow: hidden;
}
canvas {
    background-color: #fff;
    display: block;
    margin: auto;
    border: 2px solid black;
    max-width: 100%;
    height: auto;
}

/* Mobile Controls */
.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.controls button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.controls button:active {
    background: #0056b3;
}
